<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto border-top fixed-bottom">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="text-muted">© 2021 Company, Inc</span>
        </div>

        </body>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><img src="/icons/twitter.png" alt="" width="24" height="30">
                </a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="/icons/facebook.png" alt="" width="24"
                        height="30"></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="/icons/instagram.png" alt="" width="24"
                        height="30"></a></li>
        </ul>
    </footer>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>


</body>

</html>