<!DOCTYPE html>
<html>

<head>
    <title>TrackVac</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <nav class="navbar  fixed-top navbar-expand-lg navbar-dark " style="background-color: #3A4C64;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="Images/newLogo.png" alt="logo" width="30" height="24"
                    class="d-inline-block align-text-top mx-2">
                Track Vac
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Center Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Write Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Vaccination</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>