<%- include ("partials/header") %>
    <!-- test -->

    <div class="container">
        <div><p></p></div>
        <div><p></p></div>
        <div><p>hh</p></div>
       
        <h1 class="text-center">About vaccination</h1>
        <hr>
        <div class="row align-items-center justify-content-around">
            <div class="col-4 box" style="background-color: #f5edfc">
                <h2>Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1611689102192-1f6e0e52df0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3lyaW5nZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="" class="img-thumbnail float-end">
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1618961734760-466979ce35b0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dmFjY2luZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="" class="img-thumbnail float-end">
            </div>
            <div class="col-4 box" style="background-color: #f0edff;">
                <h2>Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>
        </div>
    </div>
    <%- include ("partials/footer") %>