<%- include ("partials/header") %>
    <!-- test -->

    <div class="container-fluid about">
        <h1 class="text-center title">About vaccination</h1>
        <hr>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-5 box">
                <h2 class="title">Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>
            <div class="col-5 box">
                <h2 class="title">Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-5 box">
                <h2 class="title">Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>

            <div class="col-5 box">
                <h2 class="title">Types of vaccines</h2>
                <p>
                    There are four types of vaccines in clinical trials: whole virus, protein subunit, viral vector and
                    nucleic<br> acid (RNA and DNA), each of which protects people,<br> but by producing immunity in a
                    slightly
                    different way.</p>
            </div>
        </div>
    </div>
    <%- include ("partials/footer") %>