<%- include ("partials/header") %>
    <!-- test -->

    <div class="container-fluid about">
        <h1 class="text-center title">About vaccination</h1>
        <hr>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-lg-4 box">
                <h2 class="title">What are the benefits of getting vaccinated?</h2>
                <p>
                    The COVID-19 vaccines produce protection against the disease, as a result of developing an immune
                    response to the SARS-Cov-2 virus. Developing immunity through vaccination means there is a reduced
                    risk of developing the illness and its consequences. This immunity helps you fight the virus if
                    exposed. Getting vaccinated may also protect people around you, because if you are protected from
                    getting infected and from disease, you are less likely to infect someone else. This is particularly
                    important to protect people at increased risk for severe illness from COVID-19, such as healthcare
                    providers, older or elderly adults, and people with other medical conditions.</p>
            </div>

            <div class="col-lg-4 box">
                <h2 class="title">Who should get the COVID-19 vaccines? </h2>
                <p>
                    The COVID-19 vaccines are safe for most people 18 years and older, including those with pre-existing
                    conditions of any kind, including auto-immune disorders. These conditions include: hypertension,
                    diabetes, asthma, pulmonary, liver and kidney disease, as well as chronic infections that are stable
                    and controlled.
                    If supplies are limited in your area, discuss your situation with your care provider if you:<br>
                    Have a compromised immune system<br>
                    Are pregnant or nursing your baby<br>
                    Have a history of severe allergies, particularly to a vaccine (or any of the ingredients in the
                    vaccine)<br>
                    Are severely frail
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-lg-4 box">
                <h2 class="title">What should I do and expect after getting vaccinated?</h2>
                <p>Stay at the place where you get vaccinated for at least 15 minutes afterwards, just in case you have
                    an unusual reaction, so health workers can help you.

                    Check when you should come in for a second dose – if needed. Most of the vaccines available are
                    two-dose vaccines. Check with your care provider whether you need to get a second dose and when you
                    should get it. Second doses help boost the immune response and strengthen immunity.

                    In most cases, minor side effects are normal. Common side effects after vaccination, which indicate
                    that a person's body is building protection to COVID-19 infection include:

                    Arm soreness,
                    Mild fever,
                    Tiredness,
                    Headaches,
                    Muscle or joint aches.
                </p>
            </div>
            <div class="col-lg-4 box">
                <h2 class="title">The vaccine has proven to be 86% effective</h2>
                <p>
                    The Ministry of Health and Population has participated in clinical research under the slogan 'For
                    Humanity' to try to find a safe and effective vaccine. The experiment was conducted in partnership
                    with the Chinese company Sinopharma and the UAE G42 group to test two vaccines (of the inactivated
                    type) on 45 thousand participants in 4 countries.

                    The study concluded that the vaccine’s effectiveness was 86%, that its success in generating
                    antibodies reached 99% and its ability to prevent moderate or violent infections reached 100%.
                    Additionally, no unexpected side effects occurred in the study participants, and all side effects
                    that occurred were expected in a slight to moderate ratio.</p>
            </div>
        </div>

    </div>
    <%- include ("partials/footer") %>