<%- include ("partials/header") %>

<div class="container">
    <h1>Add new center</h1>
    <form id='centerForm'>
        <div>
            <label>Name</label>
            <input type='text' name='name'>
        </div>
        <div>
            <label for="myfile">Select an image:</label>
            <input type="file" id="myImage" name="image" accept="image/*">
        </div>
        <div>
            <select name="City" id="cityNames" form='centerForm'>
                <option value="" disabled selected>Select your city</option>
                <option value="Cairo">Cairo</option>
                <option value="Alex">Alex</option>
                <option value="Giza">Giza</option>
                <option value="Luxor">Luxor</option>
            </select>
        </div>
        <div>
            <select name="District" id="distritNames" form='centerForm'>
                <option value="" disabled selected>Select your District</option>
                <option value="Cairo">Heliopolis</option>
                <option value="Alex">Nasr City</option>
                <option value="Giza">New Cairo</option>
                <option value="Luxor">Maadi</option>
            </select>
        </div>
    </form>
</div>

<%- include ("partials/footer") %>