<%- include ("partials/header") %>
<div class="container">
<h3 class="text-center">Write a Review to help others find the best place and the best service to get vaccinated</h3>
<hr>
</div>
    <%- include ("partials/footer") %>