<%- include ("partials/header") %>

    <div class="container-fluid centers">

        <form id='filter' action='/centers' method='POST'>
            <div class="container">
                <h1 class="text-center title">Available Centers</h1>
                <select id="govSelect" onchange=getValue(); class="form-select form-select my-3"
                    aria-label=".form-select-lg example">
                    <option value="" disabled selected>Select Governerate</option>
                    <% for(let i=0; i<cityNames.length; i++) { %>
                                <option value="<%=cityNames[i] %>"> <%= cityNames[i] %>
                                </option>
                                <% } %>
                </select>
            
                <select id="districtSelect" class="form-select form-select mb-3" aria-label=".form-select-sm example">
                    <option value="" disabled selected>Select District</option>
                </select>
            </div>
        </form>

    </div>
    <div class="container">
        <div class="row align-items-center justify-content-evenly">
            <div class="col-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="Images/guc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="Images/guc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="Images/guc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="Images/guc.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='script.js'> </script>
    <%- include ("partials/footer") %>