<%- include ("partials/header") %>
    
    
<div class="container">
    <div><p></p></div>
    <div><p></p></div>
    <div><p>hh</p></div>
   
    <h1 class="text-center"> Your guide for a better vaccination experience </h1>
    <hr>
    <div class="row align-items-center justify-content-around">
        <div class="col-4 box" style="background-color: #f5edfc">
            <h2>Are you vaccinated? </h2>
            <p>
                Help others by telling us more about your experience.<br>
                <a  href="addReview" >Give a feedback about your vaccination experience      >></a>
            </p>
        </div>
        <div class="col-5">
            <img src="\Images\vac3.jpg"
                alt="vaccine image" class="img-thumbnail float-end">
        </div>
    </div>
    <div class="row align-items-center justify-content-around">
        <div class="col-5">
            <img src="\Images\vac6.jpg"
                alt="" class="img-thumbnail float-end">
        </div>
        <div class="col-5 box" style="background-color: #f0edff;">
            <h2>Thinking about getting vaccinated?</h2>
            <p> Read multiple feedbacks about any vaccination center and get to know which vaccines are available in each center? how long will you wait till you get vaccinated? and many other answers for any question in 
                your mind. <br>

                <a  href="centers" >Read reviews about vaccination centers     >></a>

            </p>
        </div>
    </div>
</div>
    <%- include ("partials/footer") %>