<%- include ("partials/header") %>



    <div class="container">


        <h1 class="text-center" style="font-size: 600% ;">Track-Vac</h1>
        <p class="text-center fs-3"> Your guide for a better vaccination experience</p>
        <hr>
        <div class="row align-items-center justify-content-around">
            <div class="col-4 box" style="background-color: #f5edfc;">
                <h2 class="subtitle">Are you vaccinated? </h2>
                <p>
                    Help others by telling us more about your experience.<br>
                    <a href="addReview">Give a feedback about your vaccination experience >></a>
                </p>
            </div>
            <div class="col-5">
                <img src="\Images\vac3.jpg" alt="vaccine image" class="img-thumbnail float-end">
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-5">
                <img src="\Images\vac6.jpg" alt="" class="img-thumbnail float-end">
            </div>
            <div class="col-5 box" style="background-color: #f5edfc;">
                <h2 class="subtitle">Thinking about getting vaccinated?</h2>
                <p> Read multiple feedbacks about any vaccination center and get to know which vaccines are available in
                    each center? how long will you wait till you get vaccinated? and many other answers for any question
                    in
                    your mind. <br>

                    <a href="centers">Read reviews about vaccination centers >></a>

                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">

            <div class="col-11 box" style="background-color: #f5edfc;">
                <h2 class="subtitle">About Us</h2>
                <p> We are a group of engineering students at The German University in Cairo taking part in a web
                    developement internship
                    by IEEE HAC. Our aim is to utilize the technology in order to provide solutions for some problems
                    facing the world in the age of Covid-19. We built Track-Vac in
                    order to provide a better vaccination experience through collecting feedbacks from vaccinated users
                    about different vaccination centers all over egypt, so those who didn't get vaccinated
                    yet can benefit from them.

                </p>
            </div>
        </div>
    </div>
    <%- include ("partials/footer") %>