<%- include ("partials/header") %>
   <div class="container">
       <form>
           <div>
               <label>username</label>
               <input type="text" required="true">
           </div>
        <div>
            <label>password</label>
            <input type="password" required="true">
        </div>
        <div>
            <a class = "btn"><input type="submit"></a>
        </div>
       </form>
   </div>
    <%- include ("partials/footer") %>