
<%- include ("partials/headerMod") %>
<div class="container">
    
    
      <h1 class="text-center" style="font-size: 600% ;">Admin Dashboard</h1>
<hr>

<div class="row align-items-center justify-content-around">

<div class="col-11 box" style="background-color: #f5edfc;">
    <h2>About Us</h2>
    <p> We are a group of engineering students at The German University in Cairo taking part in a web developement internship 
        by IEEE HAC. Our aim is to utilize the technology in order to provide solutions for some problems facing the world in the age of Covid-19. We built Track-Vac in 
        order to provide a better vaccination experience through collecting feedbacks from vaccinated users about different vaccination centers all over egypt, so those who didn't get vaccinated 
        yet can benefit from them.

    </p>
</div>
</div>
</div>





<%- include ("partials/footer2") %>

