<%- include ("partials/header") %>
    <div class="container">
        <h1 class="text-center" style="font-size: 600% ;">Admin Dashboard</h1>
        
    </div>
    <%- include ("partials/footer") %>