<%- include ("partials/header") %>
   <div class="container">
       <h1>Register</h1>
       <form action="/register" method="POST">
           <div>
               <label>username</label>
               <input type="text" required="true" name="username">
           </div>
        <div>
            <label>password</label>
            <input type="password" required="true" name="password">
        </div>
        <div>
            <a class = "btn"><input type="submit"></a>
        </div>
       </form>
   </div>
<%- include ("partials/footer") %>