
<%- include ("partials/headerMod") %>
<div class="container">
    
    
      <h1 class="text-center mb-5" >Reported Reviews</h1>

<hr>



<div class="container">
    <div class="list-group my-3 ">
       <div class="box3">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Very good</h5>
                <small class="text-muted">0 total up votes | 1 day ago</small>
            </div>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis labore, nulla eius
                laudantium cumque dolor aliquam minus quae enim alias totam fugit omnis assumenda reprehenderit
                possimus tempore incidunt fuga.
                Fugiat cumque deleniti fuga minus, quisquam sunt nam. Qui dicta vitae et odio, voluptatem vero
                facilis explicabo aliquid nam vel praesentium dolorum expedita, minus eaque veniam iure natus! Nemo,
                enim.
                Enim nobis, nisi laboriosam culpa provident sequi molestias totam pariatur voluptates impedit
                facere. Nobis culpa harum quae provident facere sint, eveniet iusto quod quaerat id similique
                inventore maiores a perspiciatis.
                Aliquid necessitatibus vel tenetur similique officia? Culpa libero enim nemo nostrum! A sint
                blanditiis dolorum enim nihil iure molestias vitae in modi voluptatibus ullam id, nostrum ipsam
                voluptatem perspiciatis alias?
                Nihil distinctio similique quisquam dicta dolor reprehenderit deleniti suscipit, possimus, vitae
                quia maxime expedita ut error dolorem natus esse? Corrupti, porro consectetur aperiam expedita quia
                placeat maiores explicabo voluptatem quis.</p>
                <div class="d-flex w-100 gap-3 justify-content-end">
                    <button type="button" class="btn btn-dark" style="background-color: 
                    #000b2e;">Ignore</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="box3">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Bad</h5>
                <small class="text-muted">1 total up votes | 2 days ago</small>
            </div>
            <p class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aspernatur
                perspiciatis quasi delectus corrupti expedita deserunt autem beatae tempora voluptatum inventore
                laboriosam molestiae numquam sit, error amet, a consequuntur voluptate.
                Quam eveniet laborum sapiente, temporibus ex, voluptatem dolorum ea dolor voluptate, cupiditate
                adipisci deleniti eum assumenda? Ex laboriosam et dolores praesentium repellat ad necessitatibus
                rem, iure cumque unde optio sequi.</p>
                <div class="d-flex w-100 gap-3 justify-content-end">
                    <button type="button" class="btn btn-dark" style="background-color: 
                    #000b2e;">Ignore</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
                
       <div class="box3">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Excellent</h5>
                <small class="text-muted">0 total up votes | 3 days ago</small>
            </div>
            <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, quae fugit harum
                mollitia fuga obcaecati culpa quam, velit commodi iusto placeat saepe necessitatibus veniam
                aspernatur dolorem. Vitae quam odio ullam.
                Aspernatur accusamus nulla quo necessitatibus dignissimos perferendis et, ipsam quaerat atque
                beatae, nihil quod distinctio repellat ipsum mollitia. Quaerat cum nihil eius exercitationem velit
                quae. Fuga odio praesentium et commodi.
                Accusantium sequi vel natus asperiores fugiat perferendis sunt voluptate facilis iste eum? Facere
                nihil alias et impedit aliquid maiores facilis modi sint veniam numquam ducimus quibusdam, assumenda
                omnis iste porro.</p>
            <div class="d-flex w-100 gap-3 justify-content-end">
                <button type="button" class="btn btn-dark" style="background-color: 
                #000b2e;">Ignore</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>





<%- include ("partials/footer2") %>