body{
    background-color:#F6FBEF ;
  
}
h1{
    padding-top: 6%;
    color: #F6FBEF;
}

h2 {
    color: #8A8188;
}

p {
    color: #66788A;
}

footer {

    background-color: #99A0A8;
    width: 100%;
    position: relative; 
    z-index: 1; 
    height: -3em; 
    /*margin-top: 40em; */
}

.footer {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box {
    padding: 20px;
    background-color: white; 
    box-shadow: 12px 12px 3px 1px rgba(153,160,168, .2);
    transition: 500ms;
}

.box:hover {
    box-shadow: 12px 12px 1px 3px rgba(153,160,168, .2);

}

.title {
    font-weight: 300;
    text-shadow: 2px 2px 2px #99A0A8;}


.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJvdXQlMjBwYWdlfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.centers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1587351021759-3e566b6af7cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG9zcGl0YWxzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}