body{
    background-color:#F6FBEF ;
  
}
h1{
    margin-top: 10%;
    color: #3A3556;
}

h2 {
    color: #3A3556;
}
a{
    text-decoration: none;
}

p {
    color: #66788A;
}

footer {

    background-color: #99A0A8;
    width: 100%;
    position: relative; 
    z-index: 1; 
    height: -3em; 
    margin-top: 40em; 
}

.footer {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-top: 40px;
}

.box {
    padding: 20px;
    background-color: white; 
    box-shadow: 12px 12px 3px 1px rgba(102, 120, 138, .3);
    transition: 500ms;
    border: #3A3556;
    margin: 60px;
    
}

.box:hover {
    box-shadow: 12px 12px 1px 3px rgba(102, 120, 138, .3);
    padding: 24px;

}

